name: Run examples as a GitHub Action

on: [pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.100'

    - name: Build with dotnet
      run: dotnet build Examples/Examples.sln
    
    - name: Run Infer#
      id: runinfersharp
      uses: ./
      with:
        binary-path: 'Examples'

    - name: Infer# analysis results
      run: echo "${{ steps.runinfersharp.outputs.results }}" >> report.txt

    - name: Upload Infer# report
      uses: actions/upload-artifact@v2
      with:
        name: report
        path: report.txt
        